data/*
*.ipynb
*.xls
.bitacora.md

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2012.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2013.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2014.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2015.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2016.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2017.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2018.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2019.png
notebooks/img/comunicaciones y transportes 2012.png
notebooks/img/comunicaciones y transportes 2013.png
notebooks/img/comunicaciones y transportes 2014.png
notebooks/img/comunicaciones y transportes 2015.png
notebooks/img/comunicaciones y transportes 2016.png
notebooks/img/comunicaciones y transportes 2017.png
notebooks/img/comunicaciones y transportes 2018.png
notebooks/img/comunicaciones y transportes 2019.png
notebooks/img/consejo nacional de ciencia y tecnologia 2012.png
notebooks/img/consejo nacional de ciencia y tecnologia 2013.png
notebooks/img/consejo nacional de ciencia y tecnologia 2014.png
notebooks/img/consejo nacional de ciencia y tecnologia 2015.png
notebooks/img/consejo nacional de ciencia y tecnologia 2016.png
notebooks/img/consejo nacional de ciencia y tecnologia 2017.png
notebooks/img/consejo nacional de ciencia y tecnologia 2018.png
notebooks/img/consejo nacional de ciencia y tecnologia 2019.png
notebooks/img/defensa nacional 2012.png
notebooks/img/defensa nacional 2013.png
notebooks/img/defensa nacional 2014.png
notebooks/img/defensa nacional 2015.png
notebooks/img/defensa nacional 2016.png
notebooks/img/defensa nacional 2017.png
notebooks/img/defensa nacional 2018.png
notebooks/img/defensa nacional 2019.png
notebooks/img/desarrollo social 2012.png
notebooks/img/desarrollo social 2013.png
notebooks/img/desarrollo social 2014.png
notebooks/img/desarrollo social 2015.png
notebooks/img/desarrollo social 2016.png
notebooks/img/desarrollo social 2017.png
notebooks/img/desarrollo social 2018.png
notebooks/img/desarrollo social 2019.png
notebooks/img/economia 2012.png
notebooks/img/economia 2013.png
notebooks/img/economia 2014.png
notebooks/img/economia 2015.png
notebooks/img/economia 2016.png
notebooks/img/economia 2017.png
notebooks/img/economia 2018.png
notebooks/img/economia 2019.png
notebooks/img/educacion publica 2012.png
notebooks/img/educacion publica 2013.png
notebooks/img/educacion publica 2014.png
notebooks/img/educacion publica 2015.png
notebooks/img/educacion publica 2016.png
notebooks/img/educacion publica 2017.png
notebooks/img/educacion publica 2018.png
notebooks/img/educacion publica 2019.png
notebooks/img/energia 2012.png
notebooks/img/energia 2013.png
notebooks/img/energia 2014.png
notebooks/img/energia 2015.png
notebooks/img/energia 2016.png
notebooks/img/energia 2017.png
notebooks/img/energia 2018.png
notebooks/img/energia 2019.png
notebooks/img/funcion publica 2012.png
notebooks/img/funcion publica 2013.png
notebooks/img/funcion publica 2014.png
notebooks/img/funcion publica 2015.png
notebooks/img/funcion publica 2016.png
notebooks/img/funcion publica 2017.png
notebooks/img/funcion publica 2018.png
notebooks/img/funcion publica 2019.png
notebooks/img/gobernacion 2012.png
notebooks/img/gobernacion 2013.png
notebooks/img/gobernacion 2014.png
notebooks/img/gobernacion 2015.png
notebooks/img/gobernacion 2016.png
notebooks/img/gobernacion 2017.png
notebooks/img/gobernacion 2018.png
notebooks/img/gobernacion 2019.png
notebooks/img/hacienda y credito publico 2012.png
notebooks/img/hacienda y credito publico 2013.png
notebooks/img/hacienda y credito publico 2014.png
notebooks/img/hacienda y credito publico 2015.png
notebooks/img/hacienda y credito publico 2016.png
notebooks/img/hacienda y credito publico 2017.png
notebooks/img/hacienda y credito publico 2018.png
notebooks/img/hacienda y credito publico 2019.png
notebooks/img/marina 2012.png
notebooks/img/marina 2013.png
notebooks/img/marina 2014.png
notebooks/img/marina 2015.png
notebooks/img/marina 2016.png
notebooks/img/marina 2017.png
notebooks/img/marina 2018.png
notebooks/img/marina 2019.png
notebooks/img/medio ambiente y recursos naturales 2012.png
notebooks/img/medio ambiente y recursos naturales 2013.png
notebooks/img/medio ambiente y recursos naturales 2014.png
notebooks/img/medio ambiente y recursos naturales 2015.png
notebooks/img/medio ambiente y recursos naturales 2016.png
notebooks/img/medio ambiente y recursos naturales 2017.png
notebooks/img/medio ambiente y recursos naturales 2018.png
notebooks/img/medio ambiente y recursos naturales 2019.png
notebooks/img/poder legislativo 2012.png
notebooks/img/poder legislativo 2013.png
notebooks/img/poder legislativo 2014.png
notebooks/img/poder legislativo 2015.png
notebooks/img/poder legislativo 2016.png
notebooks/img/poder legislativo 2017.png
notebooks/img/poder legislativo 2018.png
notebooks/img/poder legislativo 2019.png
notebooks/img/presidencia de la republica 2012.png
notebooks/img/presidencia de la republica 2013.png
notebooks/img/presidencia de la republica 2014.png
notebooks/img/presidencia de la republica 2015.png
notebooks/img/presidencia de la republica 2016.png
notebooks/img/presidencia de la republica 2017.png
notebooks/img/presidencia de la republica 2018.png
notebooks/img/presidencia de la republica 2019.png
notebooks/img/procuraduria general de la republica 2012.png
notebooks/img/procuraduria general de la republica 2013.png
notebooks/img/procuraduria general de la republica 2014.png
notebooks/img/procuraduria general de la republica 2015.png
notebooks/img/procuraduria general de la republica 2016.png
notebooks/img/procuraduria general de la republica 2017.png
notebooks/img/procuraduria general de la republica 2018.png
notebooks/img/procuraduria general de la republica 2019.png
notebooks/img/salud 2012.png
notebooks/img/salud 2013.png
notebooks/img/salud 2014.png
notebooks/img/salud 2015.png
notebooks/img/salud 2016.png
notebooks/img/salud 2017.png
notebooks/img/salud 2018.png
notebooks/img/salud 2019.png
notebooks/img/seguridad publica 2012.png
notebooks/img/seguridad publica 2013.png
notebooks/img/seguridad publica 2014.png
notebooks/img/seguridad publica 2015.png
notebooks/img/seguridad publica 2016.png
notebooks/img/seguridad publica 2017.png
notebooks/img/seguridad publica 2018.png
notebooks/img/seguridad publica 2019.png
notebooks/img/turismo 2012.png
notebooks/img/turismo 2013.png
notebooks/img/turismo 2014.png
notebooks/img/turismo 2015.png
notebooks/img/turismo 2016.png
notebooks/img/turismo 2017.png
notebooks/img/turismo 2018.png
notebooks/img/turismo 2019.png
notebooks/nohup.out
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2012.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2013.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2014.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2015.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2016.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2017.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2018.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion/agricultura, ganaderia, desarrollo rural, pesca y alimentacion 2019.png
notebooks/img/agricultura, ganaderia, desarrollo rural, pesca y alimentacion/out.gif
notebooks/img/comunicaciones y transportes/comunicaciones y transportes 2012.png
notebooks/img/comunicaciones y transportes/comunicaciones y transportes 2013.png
notebooks/img/comunicaciones y transportes/comunicaciones y transportes 2014.png
notebooks/img/comunicaciones y transportes/comunicaciones y transportes 2015.png
notebooks/img/comunicaciones y transportes/comunicaciones y transportes 2016.png
notebooks/img/comunicaciones y transportes/comunicaciones y transportes 2017.png
notebooks/img/comunicaciones y transportes/comunicaciones y transportes 2018.png
notebooks/img/comunicaciones y transportes/comunicaciones y transportes 2019.png
notebooks/img/consejo nacional de ciencia y tecnologia/consejo nacional de ciencia y tecnologia 2012.png
notebooks/img/consejo nacional de ciencia y tecnologia/consejo nacional de ciencia y tecnologia 2013.png
notebooks/img/consejo nacional de ciencia y tecnologia/consejo nacional de ciencia y tecnologia 2014.png
notebooks/img/consejo nacional de ciencia y tecnologia/consejo nacional de ciencia y tecnologia 2015.png
notebooks/img/consejo nacional de ciencia y tecnologia/consejo nacional de ciencia y tecnologia 2016.png
notebooks/img/consejo nacional de ciencia y tecnologia/consejo nacional de ciencia y tecnologia 2017.png
notebooks/img/consejo nacional de ciencia y tecnologia/consejo nacional de ciencia y tecnologia 2018.png
notebooks/img/consejo nacional de ciencia y tecnologia/consejo nacional de ciencia y tecnologia 2019.png
notebooks/img/defensa nacional/defensa nacional 2012.png
notebooks/img/defensa nacional/defensa nacional 2013.png
notebooks/img/defensa nacional/defensa nacional 2014.png
notebooks/img/defensa nacional/defensa nacional 2015.png
notebooks/img/defensa nacional/defensa nacional 2016.png
notebooks/img/defensa nacional/defensa nacional 2017.png
notebooks/img/defensa nacional/defensa nacional 2018.png
notebooks/img/defensa nacional/defensa nacional 2019.png
notebooks/img/desarrollo social/desarrollo social 2012.png
notebooks/img/desarrollo social/desarrollo social 2013.png
notebooks/img/desarrollo social/desarrollo social 2014.png
notebooks/img/desarrollo social/desarrollo social 2015.png
notebooks/img/desarrollo social/desarrollo social 2016.png
notebooks/img/desarrollo social/desarrollo social 2017.png
notebooks/img/desarrollo social/desarrollo social 2018.png
notebooks/img/desarrollo social/desarrollo social 2019.png
notebooks/img/economia/economia 2012.png
notebooks/img/economia/economia 2013.png
notebooks/img/economia/economia 2014.png
notebooks/img/economia/economia 2015.png
notebooks/img/economia/economia 2016.png
notebooks/img/economia/economia 2017.png
notebooks/img/economia/economia 2018.png
notebooks/img/economia/economia 2019.png
notebooks/img/educacion publica/educacion publica 2012.png
notebooks/img/educacion publica/educacion publica 2013.png
notebooks/img/educacion publica/educacion publica 2014.png
notebooks/img/educacion publica/educacion publica 2015.png
notebooks/img/educacion publica/educacion publica 2016.png
notebooks/img/educacion publica/educacion publica 2017.png
notebooks/img/educacion publica/educacion publica 2018.png
notebooks/img/educacion publica/educacion publica 2019.png
notebooks/img/energia/energia 2012.png
notebooks/img/energia/energia 2013.png
notebooks/img/energia/energia 2014.png
notebooks/img/energia/energia 2015.png
notebooks/img/energia/energia 2016.png
notebooks/img/energia/energia 2017.png
notebooks/img/energia/energia 2018.png
notebooks/img/energia/energia 2019.png
notebooks/img/funcion publica/funcion publica 2012.png
notebooks/img/funcion publica/funcion publica 2013.png
notebooks/img/funcion publica/funcion publica 2014.png
notebooks/img/funcion publica/funcion publica 2015.png
notebooks/img/funcion publica/funcion publica 2016.png
notebooks/img/funcion publica/funcion publica 2017.png
notebooks/img/funcion publica/funcion publica 2018.png
notebooks/img/funcion publica/funcion publica 2019.png
notebooks/img/gobernacion/gobernacion 2012.png
notebooks/img/gobernacion/gobernacion 2013.png
notebooks/img/gobernacion/gobernacion 2014.png
notebooks/img/gobernacion/gobernacion 2015.png
notebooks/img/gobernacion/gobernacion 2016.png
notebooks/img/gobernacion/gobernacion 2017.png
notebooks/img/gobernacion/gobernacion 2018.png
notebooks/img/gobernacion/gobernacion 2019.png
notebooks/img/hacienda y credito publico/hacienda y credito publico 2012.png
notebooks/img/hacienda y credito publico/hacienda y credito publico 2013.png
notebooks/img/hacienda y credito publico/hacienda y credito publico 2014.png
notebooks/img/hacienda y credito publico/hacienda y credito publico 2015.png
notebooks/img/hacienda y credito publico/hacienda y credito publico 2016.png
notebooks/img/hacienda y credito publico/hacienda y credito publico 2017.png
notebooks/img/hacienda y credito publico/hacienda y credito publico 2018.png
notebooks/img/hacienda y credito publico/hacienda y credito publico 2019.png
notebooks/img/marina/marina 2012.png
notebooks/img/marina/marina 2013.png
notebooks/img/marina/marina 2014.png
notebooks/img/marina/marina 2015.png
notebooks/img/marina/marina 2016.png
notebooks/img/marina/marina 2017.png
notebooks/img/marina/marina 2018.png
notebooks/img/marina/marina 2019.png
notebooks/img/medio ambiente y recursos naturales/medio ambiente y recursos naturales 2012.png
notebooks/img/medio ambiente y recursos naturales/medio ambiente y recursos naturales 2013.png
notebooks/img/medio ambiente y recursos naturales/medio ambiente y recursos naturales 2014.png
notebooks/img/medio ambiente y recursos naturales/medio ambiente y recursos naturales 2015.png
notebooks/img/medio ambiente y recursos naturales/medio ambiente y recursos naturales 2016.png
notebooks/img/medio ambiente y recursos naturales/medio ambiente y recursos naturales 2017.png
notebooks/img/medio ambiente y recursos naturales/medio ambiente y recursos naturales 2018.png
notebooks/img/medio ambiente y recursos naturales/medio ambiente y recursos naturales 2019.png
notebooks/img/poder legislativo/poder legislativo 2012.png
notebooks/img/poder legislativo/poder legislativo 2013.png
notebooks/img/poder legislativo/poder legislativo 2014.png
notebooks/img/poder legislativo/poder legislativo 2015.png
notebooks/img/poder legislativo/poder legislativo 2016.png
notebooks/img/poder legislativo/poder legislativo 2017.png
notebooks/img/poder legislativo/poder legislativo 2018.png
notebooks/img/poder legislativo/poder legislativo 2019.png
notebooks/img/presidencia de la republica/presidencia de la republica 2012.png
notebooks/img/presidencia de la republica/presidencia de la republica 2013.png
notebooks/img/presidencia de la republica/presidencia de la republica 2014.png
notebooks/img/presidencia de la republica/presidencia de la republica 2015.png
notebooks/img/presidencia de la republica/presidencia de la republica 2016.png
notebooks/img/presidencia de la republica/presidencia de la republica 2017.png
notebooks/img/presidencia de la republica/presidencia de la republica 2018.png
notebooks/img/presidencia de la republica/presidencia de la republica 2019.png
notebooks/img/procuraduria general de la republica/procuraduria general de la republica 2012.png
notebooks/img/procuraduria general de la republica/procuraduria general de la republica 2013.png
notebooks/img/procuraduria general de la republica/procuraduria general de la republica 2014.png
notebooks/img/procuraduria general de la republica/procuraduria general de la republica 2015.png
notebooks/img/procuraduria general de la republica/procuraduria general de la republica 2016.png
notebooks/img/procuraduria general de la republica/procuraduria general de la republica 2017.png
notebooks/img/procuraduria general de la republica/procuraduria general de la republica 2018.png
notebooks/img/procuraduria general de la republica/procuraduria general de la republica 2019.png
notebooks/img/salud/salud 2012.png
notebooks/img/salud/salud 2013.png
notebooks/img/salud/salud 2014.png
notebooks/img/salud/salud 2015.png
notebooks/img/salud/salud 2016.png
notebooks/img/salud/salud 2017.png
notebooks/img/salud/salud 2018.png
notebooks/img/salud/salud 2019.png
notebooks/img/seguridad publica/seguridad publica 2012.png
notebooks/img/seguridad publica/seguridad publica 2013.png
notebooks/img/seguridad publica/seguridad publica 2014.png
notebooks/img/seguridad publica/seguridad publica 2015.png
notebooks/img/seguridad publica/seguridad publica 2016.png
notebooks/img/seguridad publica/seguridad publica 2017.png
notebooks/img/seguridad publica/seguridad publica 2018.png
notebooks/img/seguridad publica/seguridad publica 2019.png
notebooks/img/turismo/turismo 2012.png
notebooks/img/turismo/turismo 2013.png
notebooks/img/turismo/turismo 2014.png
notebooks/img/turismo/turismo 2015.png
notebooks/img/turismo/turismo 2016.png
notebooks/img/turismo/turismo 2017.png
notebooks/img/turismo/turismo 2018.png
notebooks/img/turismo/turismo 2019.png
